nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
  .container-fluid
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='/') Home
        li.nav-item
          a.nav-link(href='#') News
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Articles
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='#') Sports
            li
              a.dropdown-item(href='#') Weathers
            li
              hr.dropdown-divider
            li
              a.dropdown-item(href='#') Something else here
      form.d-flex
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success(type='submit') Search
