extends ../layout/main.pug

block content
    form#seacrchForm.d-flex
      input#searchElement.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-success(type='submit') Search
    h3.text-center Nổi bật hôm nay
    div#rootData.container 
      each article in articles
        div.py-3
          div.my-3
              h2.text-center
                a(href=`http://localhost:3000/articles/${article.slug}`)
                  strong #{article.title}
              .text-center
                img.mx-auto(src=`${article.thumbnail}`, alt="")
              br
              p #{article.content}

block scripts
    script(src="/js/private.js")
    script(src="/js/home.js") 