extends ../layout/main.pug

block content
    h3 Nổi bật hôm nay
    img(src='/img/team18.jpeg')
    ul
      each article in articles
        li 
           div 
              p 
                a(href=`http://localhost:3000/articles/${article.slug}`)
                  strong #{article.title}
              p #{article.content}