extends ../layout/main.pug

block content
    h3 Nổi bật hôm nay
    img(src='/img/team18.jpeg')
    ul
      each article in articles
        li 
           div.my-3
              p 
                a(href=`http://localhost:3000/articles/${article.slug}`)
                  strong #{article.title}
              p #{article.content}
              button.mx-2.btn.btn-primary 
                a.btn-primary(href=`http://localhost:3000/articles/${article.slug}/update`) Update 
              button.mx-2.btn.btn-danger(data-bs-toggle="modal" data-bs-target="#exampleModal") Delete

    #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Delete this article
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
            form(action=`http://localhost:3000/articles/asd?_method=DELETE`, method='POST')
              button.btn.btn-danger(type='submit') Delete

block scripts
    script(src="/js/private.js")