extends ../layout/main.pug

block content
    form(action="/articles", method="post")
        .form-group
            label.form-label Title
            input#title.form-control(type='text' name='title' aria-describedby='emailHelp')
            #emailHelp.form-text We&apos;ll never share your email with anyone else.
        .form-group
            label Content
            textarea#content.form-control(rows='3' name='content')
        button.btn.btn-primary(type='submit') Create


block scripts
    script(src='/js/article.js')