extends ../layout/main.pug

block content
    form#newFormCreation
        .form-group
            label.form-label Title
            input#title.form-control(type='text' name='title' aria-describedby='emailHelp')
            #emailHelp.form-text We&apos;ll never share your email with anyone else.
        .form-group
            label Content
            textarea#content.form-control(rows='3' name='content')
        .form-group.my-3
            label.form-label(for='formFileMultiple') Thumbnail
            input#upload.form-control(type='file')
        img#previewImg(style="max-height: 300px" src="#", alt="")
        button.my-3.d-block.btn.btn-primary(type='submit') Create

block scripts
    script(src='/js/private.js')
    script(src='/js/article.js')